<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-analyte-heading" jhiTranslate="ceApp.analyte.home.createOrEditLabel">Create or edit a Analyte</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!analyte.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="analyte.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ceApp.analyte.analyteName" for="field_analyteName">Analyte Name</label>
                    <input type="text" class="form-control" name="analyteName" id="field_analyteName"
                        [(ngModel)]="analyte.analyteName" required/>
                    <div [hidden]="!(editForm.controls.analyteName?.dirty && editForm.controls.analyteName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.analyteName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ceApp.analyte.analyteGroup" for="field_analyteGroup">Analyte Group</label>
                    <input type="text" class="form-control" name="analyteGroup" id="field_analyteGroup"
                        [(ngModel)]="analyte.analyteGroup" required/>
                    <div [hidden]="!(editForm.controls.analyteGroup?.dirty && editForm.controls.analyteGroup?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.analyteGroup?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
