<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-analytes-of-interest-heading" jhiTranslate="ceApp.analytesOfInterest.home.createOrEditLabel">Create or edit a Analytes Of Interest</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!analytesOfInterest.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="analytesOfInterest.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ceApp.analytesOfInterest.method" for="field_method">Method</label>
                    <select class="form-control" id="field_method" name="method" [(ngModel)]="analytesOfInterest.method" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="methodOption.id === analytesOfInterest.method?.id ? analytesOfInterest.method : methodOption" *ngFor="let methodOption of methods; trackBy: trackMethodById">{{methodOption.methodName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ceApp.analytesOfInterest.analyte" for="field_analyte">Analyte</label>
                    <select class="form-control" id="field_analyte" name="analyte" [(ngModel)]="analytesOfInterest.analyte" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="analyteOption.id === analytesOfInterest.analyte?.id ? analytesOfInterest.analyte : analyteOption" *ngFor="let analyteOption of analytes; trackBy: trackAnalyteById">{{analyteOption.analyteName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
